body{
    background-color: whitesmoke;
    width: 90%;
    height: 100vh;
}

.container{
    display: flex;
    background-color: none;
    width: 90vw;
    height: 10vh;
    align-items: center;
    margin-top: 10vw;
    margin-left: 10vw;
    
    
    
}



.container2{
    display: flex;
    align-items: flex-end;
    width: 90vw;
    height: 100vh;
    column-gap: 20px;
    margin-left: 2vw;
    text-decoration: none;
    
    
    
}

.Back{
    margin-bottom: 30px;
    color: black;
    text-decoration-line: none;
    
    
}

.Info{
    color: black;
    text-decoration-line: none;
    justify-self: flex-start;
    margin-bottom: 30px;
}

.Back:hover{
    color: blue;
    cursor: pointer;
    outline: 1.5px solid blue;
    outline-offset: 10px;
    

    
}

.Info:hover{
    color: blue;
    cursor: pointer;
    outline: 1.5px solid blue;
    outline-offset: 10px;

    
}
select {
  width: 10vw;
  padding: 1px;
  background-color: #f1f1f1;
  border-radius: 2px 2px 2px;
}



.touchMeNot{
    position:absolute;
    height:20px;
    width:50px;
    margin-left: 10vw;
    
}

